body {
  background-image: url(assets/giphy-1477439960.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(77, 7, 19);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  width: 89vw;
  padding: 10px 0;
  background-color: rgb(134, 138, 5);
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: red;
  text-shadow: 10px 10px 10px rgb(96, 116, 29);
  margin-bottom: 25px;

  background-color: rgb(17, 167, 165);
}

.controls button {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: 2px solid rgb(4, 2, 15);
  border-radius: 20px;
  color: rgb(46, 55, 228);
  margin-bottom: 25px;
}

.start-button {
  background-color: rgb(8, 251, 61);
}

.start-button:hover {
  background-color: rgb(167, 255, 186);
}

.stop-button {
  background-color: rgb(242, 79, 79);
}

.stop-button:hover {
  background-color: rgb(245, 163, 163);
}

.reset-button {
  background-color: rgb(66, 107, 253);
}

.reset-button:hover {
  background-color: rgb(188, 201, 248);
}