.welcome-message {
  font-family: 2.5em;
  background-color: orange;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-family: 2.5em;
  background-color: rgb(162, 140, 97);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  margin: 0;

}